body{
    font: normal 15pt Arial;
    
    background: linear-gradient(-15deg, rgba(230, 119, 230, 0.7), rgba(0, 240, 240, 0.75), rgba(240, 240, 0,0.75));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

img{
    width: 25%;
}

header{
    color: white;
    text-align: center;

}


section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.19)
}

section div.menuArray{
    background:  	#ADFF2F;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363)
}

div a.comeBack{
    background-color: rgba(230, 119, 230, 0.7);
    border-radius: 10px;
    padding: 3px;
    width: 100px;
    margin: auto;
    
}

section div input{
    width: 90%;
}
section div input.radio{
    width: 10%;
}
select#flist{
    width: 90%;
    background-color: #FFFAF0;
    border-radius: 5px;
}

select#operation{
    background-color: #DDA0DD;
    width: 30%;
    display: inline-table;
    text-align: center;

}

section div input#button{
    background-color: #00BFFF;
    border-radius: 7px;
}

table{
    border: 1px #000000 solid;
    border-radius: 4px;
    text-align: center;
}

table th {
    border: 1px solid #6495ED;
    border-bottom: 2px solid #6495ED;
    background: #F0F8FF;
    font-size: medium;
}
table td {
    background: #B0E0E6;
    font-size: small;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}